@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: var(--font);
    box-sizing: border-box;
    overflow-x: none;
    
}

:root{
    --azul: #33A8DB;
    --branco:#fff;
    --black:#000;
    --font: 'Raleway','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Configuração do corpo*/

body{
    
    background-color: var(--black);
    height: 100wv;
    width: 100%;
    overflow-x: none;
}


/* CONFIGURAÇÃO GERAL */




.evolua{
    margin: 0 28% ;
}
section{
    
    text-align: center;
    


}

.texto{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
/*LEtras */

p{
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
}


h1, .tituloModulo {
    font-family: Raleway;
    text-transform: uppercase;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* Trelheiro, 1°parte*/

section.trilha{
    padding: 3rem 0 0 0 ;
}



p.textoTrilha{
    width: 35rem;
    padding: 1rem;

}

button{
    color: #31A8DD;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 3.36px;
    text-transform: uppercase;
    background: none;   
    border: solid ;
    padding: 20px 30px;
}
.borda{
    margin-top: 5rem;
    border-top: solid 1px var(--azul);
}

/*Modulos*/

section.modulos{
    padding:  8rem 0 0 0 ;;
}

div.tituloModulo{

    padding-bottom: 2rem;
    
}

p.textoModulo{
    width: 1000px;
    padding-bottom: 2rem;
}

div.mod{
    display: flex;
    flex-direction: row;
    width: 620px;
    padding: 19px 130px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 2rem;

    border-radius: 57px;
    border: 1px solid #33A8DB;
    background: #252525;
    box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.40) inset;
    color: var(--branco);

}

span{
    color: var(--azul);
}






/* Imagem */

.mulher{
    border: solid 1px var(--azul);

    width: 100%;
    height: 30rem;
    display: block;
    text-align: center;
        
}

img.mulherFoto{
    width: 100%;
    height: 100%;
}

/*EVPLUA*/

.evolua{
    padding: 2rem 0;
    width: 50rem;
}

.textoFinal{
    font-size: 16px;
    width: 50rem;
    
}

/*Rodapé*/


footer{
    border-top: solid 1px var(--azul);
    text-align: center;
    margin-bottom: 3rem;
   padding-top: 3rem;
}
a{
    text-decoration: none;
}

span{
    
    text-decoration: none;
    color: var(--azul);
}